 

body {

		 font-family: Garamond;
		 font-size: 24px;

}
.top {
    background-color: white;
	display: block;

	
}
tr,td {
      display: inline-block;
}
tr {
      display: block;
}
.container h1 {

	color: #4169E1;
	display: block;
	text-align: center;

}

.containerSpecial {

	text-align: center;
	background-color: #87CEFA;


}

.container {

	text-align: center;
	background-color: #87CEFA;


}

legend {
		color: blue;
		font-size: 34px;

}

input {
 text-align: left;	
	display: inline-block;
}

label {
		color: black;
		font-size: 24px;
		 padding-top: 5px;
  	 padding-right: 5px;
         padding-bottom: 5px;
         padding-left: 5px;
	display: inline-block;
}
fieldset {
 text-align: left;
background-color: #87CEFA;
color: white; 
		display: inline-block;
}
.nav {
    background-color:#87CEFA ;
	display: block;
    text-align: center;

}
.body {
   background-color:#F0F8FF	;

   display: block;


}

.footer {

  background-color:#B0C4DE 	;
  display: block;
	 padding-top: 5px;
  	 padding-right: 5px;
         padding-bottom: 5px;
         padding-left: 5px;

}
.image-wrapper-logo {

	background-color:inherit;
	display: inline-block;

	
	
	
	
}
img {
	max-height: inherit;
	max-width: inherit;
}

a {
	text-decoration: none;
	color: black;
	 padding-top: 5px;
  	 padding-right: 5px;
         padding-bottom: 5px;
         padding-left: 5px;
}

.description-wrapper,.description-wrapper p  {
	display: block;
	background-color:#F0F8FF;
	width:  inherit;
	max-width:  inherit;
	text-align: center;
	 padding-top: 5px;
  	 padding-right: 5px;
         padding-bottom: 5px;
         padding-left: 5px;
}

.image-wrapper-banner {

	background-color:inherit;
	display: inline-block;
	height: inherit;


	
	
}

.image-wrapper-other {
	background-color:inherit;
	display: inline-block;
max-height:min(100vh,400px);
	max-width: min(100vw,400px);

   

}

.image-wrapper-other  a:hover {
		color: blue;
		text-decoration: underline;
max-height:min(100vh,400px);
	max-width: min(100vw,400px);

}


.button-wrapper {
		display: inline-block;
	 padding-top: 5px;
  	 padding-right: 5px;
         padding-bottom: 5px;
         padding-left: 5px;

		
}
.button-wrapperFixed {
		display: inline-block;
	    position: fixed; 
		bottom: 0;

		
}



.buttonHeader {
		background-color: #B0C4DE;
		border-color: inherit;
		border-radius: 4px;
		font-size: 35px;
	    font-family: Garamond;
	margin-bottom: 5px;
		margin-top: 5px;
		margin-left: 40px;
		
		
}

.buttonHeader-active {
		background-color: white;
		border-color: inherit;
		border-radius: 4px;
		font-size: 35px;
	    font-family: Garamond;
	margin-bottom: 5px;
		margin-top: 5px;
		margin-left: 40px;
		
		
}
