 

body {

		 font-family: Garamond;
		 font-size: 24px;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}
.top {
    background-color: white;
	display: block;
 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
	
}

.container h1 {

	color: #4169E1;
	display: block;
	text-align: center;
		 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}

.containerSpecial {

	text-align: center;
	background-color: #87CEFA;
		 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;

}

.container {

	text-align: center;
	background-color: #87CEFA;
		 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;

}

legend {
		color: blue;
		font-size: 34px;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}

input {
 text-align: left;	
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}

label {
		color: black;
		font-size: 24px;
		 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}
fieldset {
 text-align: left;
background-color: #87CEFA;
color: white; 
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}
.nav {
    background-color:#87CEFA ;
	display: block;
    text-align: center;

}
.body {
   background-color:#F0F8FF	;

   display: block;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;

}

.footer {

  background-color:#B0C4DE 	;
  display: block;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;

}
.image-wrapper-logo {

	background-color:inherit;
	display: inline-block;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
	
	
	
	
}
img {
	max-height: 10px;
	max-width: 500px;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}

a {
	text-decoration: none;
	color: black;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}

.description-wrapper,.description-wrapper p  {
	display: block;
	background-color:#F0F8FF;
	width:  inherit;
	max-width:  inherit;
	text-align: center;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
}

.image-wrapper-banner {

	background-color:inherit;
	display: inline-block;
	height: inherit;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;

	
	
}

.image-wrapper-other {
	background-color:inherit;
	display: inline-block;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
   

}

.image-wrapper-other  a:hover {
		color: blue;
		text-decoration: underline;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;

}


.button-wrapper {
		display: inline-block;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;

		
}
.button-wrapperFixed {
		display: inline-block;
	    position: fixed; 
		bottom: 0;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
		
}



.buttonHeader {
		background-color: #B0C4DE;
		border-color: inherit;
		border-radius: 4px;
		font-size: 35px;
	    font-family: Garamond;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
		
		
}

.buttonHeader-active {
		background-color: white;
		border-color: inherit;
		border-radius: 4px;
		font-size: 35px;
	    font-family: Garamond;
	 padding-top: 10px;
  	 padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
		
		
}
